--extra-index https://pypi.airfire.org/simple/
-f https://pypi.airfire.org/simple/
pyairfire==4.0.2
afconfig==1.1.3
afdatetime==2.0.0
afscripting==2.0.0
geoutils==1.0.3
eflookup==4.0.4
emitcalc==3.0.1
fccsmap==3.0.4
timeprofile==1.1.3
met==3.0.2
plumerise==2.0.3
blueskykml==4.0.7
apps-consume==5.1.1
Fiona==1.8.18
shapely==1.7.1
geopandas==0.8.2
requests==2.25.1
# TODO: upgrade flask and dash* packages, if necessary
Flask==2.0.2
Flask-Compress==1.10.1
dash==1.1.1
dash-daq==0.1.0
dash-bootstrap-components==0.7.0
boto3==1.16.52
rasterio==1.3.0
