.caption {
    font-style: italic;
    font-size: small;
    padding-left: 40px;
}

#fires-table-container .caption {
    margin-top: 15px;
}

.row {
    margin-bottom: 20px;
}

.empty-graph {
    min-height: 200px;
    /*vertical-align: middle;*/
    padding: 50px;
    font-style: italic;
    font-size: small;
}
/*#top-header {
    font-size: 25px;
}*/
#top-header span {
    font-weight: bold;
    font-style: italic;
}

@media (min-width: 1000px) {
    .main-body-upload-box-container {
        margin: 0 25%;
    }
}