.caption {
    font-style: italic;
    /*font-size: small;*/
}
#fires-map-container .caption {
    padding-left: 80px;
}

#fires-table {
    margin-top: 55px;
}

#locations-table {
    margin-top: 25px;
}

.row {
    margin-bottom: 20px;
}

.empty-graph {
    min-height: 200px;
    /*vertical-align: middle;*/
    padding: 50px;
    font-style: italic;
    font-size: small;
}
/*#top-header {
    font-size: 25px;
}*/
.section-header span {
    padding-left: 20px;
    font-weight: bold;
    font-style: italic;
}

@media (min-width: 1000px) {
    .main-body-upload-box-container {
        margin: 0 25%;
    }
}